<!DOCTYPE html>
<html>
<head>
    <title>ABOUT</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <h1>{{>header}}</h1>
    <img src="./img/robot.png " style="height: 300px;" width="250 px"> 
    {{>footer}}
</body>
</html>