<!DOCTYPE html>
<html>
<head>
    <title>HELP</title>
<link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
        <h1>{{>header}}</h1>
        <p>Help HBS Page</p>
        <p>{{help}}</p>
        {{>footer}}
</body>
</html>