<!DOCTYPE html>
<head>
    <title>
        WEATHER
    </title>
<link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <h1>{{>header}}</h1>
    
    HBS weather
    <p>{{title}} </p>
    <p>{{temperature}}</p>
    {{>footer}}
    
</body>